@model MVC_Assignment_12_04_2023_.Models.JobModel;


@{
}

<h3>Create Job Post</h3>

<form method="post" asp-controller="Admin" asp-action="CreateJob"> 
    <div class="col-form-label">
        <label asp-for="JobTitle" name="JobTitle">Job Title:</label>
        <input type="text" asp-for="JobTitle" name="JobTitle" id="title" />
    </div>
    <div class="col-form-label">
        <label asp-for="JobDescription">Job Description:</label>
        <input type="text" asp-for="JobDescription" id="description" />
    </div>
    <div class="col-form-label">
        <label asp-for="CompanyName">Company Name:</label>
        <input type="text" asp-for="CompanyName" />
    </div>
    <div class="col-form-label">
        <label for="salary" asp-for="Salary">Salary:</label>
        <input type="number" name="salary" asp-for="Salary" id="salary" />
    </div>

    <div class="form-group">
        <button class="btn btn-outline-primary" type="submit">Submit</button>
    </div>

</form>
    
